<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCO5lPxrWa5iYER99Y5snhu13Lh9YcgXTo</string>
	<key>GCM_SENDER_ID</key>
	<string>1067166908925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danbg.HushCo</string>
	<key>PROJECT_ID</key>
	<string>hushco-9028b</string>
	<key>STORAGE_BUCKET</key>
	<string>hushco-9028b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067166908925:ios:60f1563ad2dbb5d5edd994</string>
</dict>
</plist>